<div class="container">
    <form #frm="ngForm" (ngSubmit)="add()">
        <h1 style="margin-bottom: 20px; font-size: 2em;color: #2674a8;">Add Employee</h1>
        <div class="form-row">
            <div class="col-md-6">
                <label for="name">Employee Name</label>
                <input type="text" #EmpName="ngModel" [class.is-invalid]="EmpName.invalid && EmpName.touched"
                    [class.is-valid]="EmpName.valid" [(ngModel)]="Employee.employeeName" required minlength="3"
                    name="EmpName" id="EmployeeName" class="form-control"
                    placeholder="Employee Name" aria-describedby="helpId">
                <small [hidden]="EmpName.valid || EmpName.untouched" id="helpId" class="text-muted"></small>
            </div>
            <div class="col-md-6">
                <label for="Position">Employee Position</label>
                <input type="text" #position="ngModel" [class.is-invalid]="position.invalid && position.touched"
                    [class.is-valid]="position.valid" [(ngModel)]="Employee.position" required minlength="3"
                    name="position" id="positions" class="form-control"
                    placeholder="Employee Position" aria-describedby="helpId">
                    <small [hidden]="position.valid || position.untouched" id="helpId" class="text-muted"></small>

            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-md-6">
                <label for="Code">Employee Code </label>
                <input type="text" #Code="ngModel" [class.is-invalid]="Code.invalid && Code.touched"
                    [class.is-valid]="Code.valid" [(ngModel)]="Employee.employeeCode" required minlength="3" name="Code"
                    id="Codes" class="form-control" placeholder="Employee Code"
                    aria-describedby="helpId">
                    <small [hidden]="Code.valid || Code.untouched" id="helpId" class="text-muted"></small>

            </div>
            <div class="col-md-6">
                <label for="Address">Address</label>
                <input type="text" #EmpAddress="ngModel" [class.is-invalid]="EmpAddress.invalid && EmpAddress.touched"
                    [class.is-valid]="EmpAddress.valid" [(ngModel)]="Employee.address" required minlength="3"
                    name="EmpAddress" id="EmpName" class="form-control" placeholder="Address"
                    aria-describedby="helpId">
                    <small [hidden]="EmpAddress.valid || EmpAddress.untouched" id="helpId" class="text-muted"></small>

            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <label for="gender">gender</label>
                <select name="gender" [(ngModel)]="Employee.gender" class="form-control">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="MaritalStatus">maritalStatus</label>
                <select name="Mstatus" [(ngModel)]="Employee.MaritalStatus" class="form-control">
                    <option value="Single" >Single</option>
                    <option value="married">Married</option>
                </select>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label for="Email" >Email</label>
                <input type="email" class="form-control" #Empmail="ngModel" [class.is-invalid]="Empmail.invalid && Empmail.touched"
                [class.is-valid]="Empmail.valid" [(ngModel)]="Employee.Address" required minlength="3" name="email" [(ngModel)]="Employee.email"
                    placeholder="Email">
                    <small [hidden]="Empmail.valid || Empmail.untouched" id="helpId" class="text-muted" ></small>

            </div>
            <div class="col-md-3">
                <label for="Phone"></label>
                <input mask="88888" class="form-control" type="text" #phone="ngModel" [class.is-invalid]="phone.invalid && phone.touched"
                [class.is-valid]="phone.valid"  required minlength="3" name="phone" [(ngModel)]="Employee.phone"
                    placeholder="Phone">
                    <small [hidden]="phone.valid || phone.untouched" id="helpId" class="text-muted"></small>

            </div>
            <div class="col-md-3">
                <label for="Mobile">Mobile</label>
                <input mask="99999" class="form-control" type="text" #mobile="ngModel" [class.is-invalid]="mobile.invalid && mobile.touched"
                [class.is-valid]="mobile.valid"  required minlength="3" name="mobile" [(ngModel)]="Employee.mobile"
                    placeholder="Mobile">
                    <small [hidden]="mobile.valid || mobile.untouched" id="helpId" class="text-muted"></small>

            </div>
        </div>
        <br>
        <label for="Upload">Upload Image</label><br>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
            </div>
            <div class="custom-file">
                <input accept="image/*" (change)="onFileSelected($event.target.files)" type="file"
                    class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">Choose file </label>
            </div>
        </div>
        <br>
        <button id="Add" type="submit" [disabled]="frm.invalid" class="btn btn-primary">Add</button>
    </form>
</div>
<br>