<p-table [value]="ItemStatuses" class=" card" #dt dataKey="id" [rows]="5" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5,10,50]" styleClass="p-datatable-customers" [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
    [globalFilterFields]="['employeeName','userName','itemDate','statusName']">
    <ng-template pTemplate="caption">
        <div style="text-align: center;color: rgb(218, 24, 24);font-size: 40px;">
            <img class="img-thumbnail" src="{{getimage}}api/Items/getImage/{{itemPhoto}}"
            style="width: 100px;border-radius: 50%;" class="card-media-image" alt="">
            {{ItemName}}
           
        </div> 
        
        <!-- <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-3">
                <h5 class="labelstyle">   {{'Tracker.See Requests By Problem Name'|translate}}</h5>

                <select name="RequestProblemName" (change)="GetproblemId(($event.target.value))" class="form-control">
                    <option>{{'Tracker.Select Problem'|translate}}</option>
                    <option *ngFor="let th of lstRequestProblems" value="{{th.id}}">{{th.problemName}}</option>
                </select>
            </div>
        </div> -->
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>EmployeeName</th>
            <th>Effective employee</th>
            <th>Date</th>
            <th>Status</th>
            <!-- <th>{{'Tracker.project Name'|translate}}</th>
            <th>{{'Tracker.request Time'|translate}}</th>
            <th>{{'Tracker.Problem'|translate}}</th>
            <th>{{'Tracker.Request Status'|translate}}</th>
            <th>{{'Tracker.Client Name'|translate}}</th>
            <th>{{'Tracker.Team Name'|translate}}</th>
            <th>{{'Tracker.Description'|translate}}</th>
            <th>{{'Tracker.Operation'|translate}}</th>
            <th></th>
            <th></th>
            <th></th> -->
        </tr>
        <tr>

            <th>
                <input pInputText style="width: 100%;" type="text"
                    (input)="dt.filter($event.target.value, 'employeeName', 'startsWith')" placeholder="EmployeeName"
                    class="p-column-filter">
            </th>
            <th>
                <input pInputText style="width: 100%;" type="text"
                    (input)="dt.filter($event.target.value, 'itemDate', 'startsWith')" placeholder="User Name"
                    class="p-column-filter">
            </th>
        
      
            <th>
                <input pInputText style="width: 100%;" type="text"
                    (input)="dt.filter($event.target.value, 'itemDate', 'startsWith')" placeholder="Item Date"
                    class="p-column-filter">
            </th>
            <th>
                <input pInputText style="width: 100%;" type="text"
                    (input)="dt.filter($event.target.value, 'statusName', 'startsWith')" placeholder="Status Name"
                    class="p-column-filter">
            </th>
            <!--
            <th>
                <input pInputText type="text" style="width: 100%"
                    (input)="dt.filter($event.target.value, 'requestTime', 'contains')" [placeholder]="'Tracker.Time'| translate"
                    class="p-column-filter">
            </th>
            <th>
                <input pInputText type="text" style="width: 100%"
                    (input)="dt.filter($event.target.value, 'requestSubCategoryName', 'contains')" [placeholder]="'Tracker.Problem'| translate"
                    class="p-column-filter">
            </th>
            <th>
                <input pInputText style="width: 100%;" type="text"
                    (input)="dt.filter($event.target.value, 'requestStatus', 'startsWith')"  [placeholder]="'Tracker.Status'| translate" 
                    class="p-column-filter">
            </th>
            <th>
                <input pInputText style="width: 100%;" type="text"
                    (input)="dt.filter($event.target.value, 'clientName', 'startsWith')"  [placeholder]="'Tracker.Client Name'| translate"  
                    class="p-column-filter">
            </th>
            <th>
                <input pInputText style="width: 100%;" type="text"
                    (input)="dt.filter($event.target.value, 'teamName', 'startsWith')"  [placeholder]="'Tracker.Team Name'| translate"  
                    class="p-column-filter">
            </th>
            <th>
                <input pInputText style="width: 100%;" type="text"
                    (input)="dt.filter($event.target.value, 'description', 'startsWith')" [placeholder]="'Tracker.Descriptions'|translate"
                    class="p-column-filter">
            </th>

            <th></th>
            <th></th>
            <th></th>
            <th></th> -->
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
        <tr>
            <td>{{item.employeeName}}</td>
            <td>{{item.userName}}</td>
            <!-- <td>{{request.projectName}}</td> -->
            <td>{{item.itemDate | slice:0:10}}</td>
          <!--   <td>{{request.requestSubCategoryName}}</td> -->

            <!-- If condition In case open or In progress or pendin or closed (condition for styling and colors only) -->

            <td *ngIf="item.statusName == 'Damaged'">
                <div style="background-color: #ffcdd2;width: 110px;">
                    <span
                        style="font-weight: bold;margin-left: 10px; color: #c63737;text-transform: uppercase; font-size: 12px;letter-spacing: .3px;font-weight: 700;padding: .25em .5rem;border-radius: 2px;">{{item.statusName}}</span>
                </div>
            </td>
            <!-- <td *ngIf="item.statusName == 'Working'" style="background-color: #ffcdd2;width: 110px;">
                <div>
                    <span
                        style="font-weight: bold;margin-left: 10px; color: #bcc637;text-transform: uppercase; font-size: 12px;letter-spacing: .3px;font-weight: 700;font-weight: 700;padding: .25em .5rem;border-radius: 2px;">{{item.statusName}}
                    </span>
                </div>
            </td> -->
             <td *ngIf="item.statusName == 'Working'">
                <div style="background-color: #eccfff;width: 110px;">
                    <span
                        style="font-weight: bold;margin-left: 10px;text-transform: uppercase; color: #694382; font-size: 12px;letter-spacing: .3px;font-weight: 700;font-weight: 700;padding: .25em .5rem;border-radius: 2px;">{{item.statusName}}</span>
                </div>
            </td>
            <td *ngIf="item.statusName == 'Repairing'">
                <div style="background-color: #7a648a;width: 110px;">
                    <span
                        style="font-weight: bold;margin-left: 10px;text-transform: uppercase; color: #010d13; font-size: 12px;letter-spacing: .3px;font-weight: 700;font-weight: 700;padding: .25em .5rem;border-radius: 2px;">{{item.statusName}}</span>
                </div>
            </td>
            <!-- <td *ngIf="request.requestStatus == 'Closed'">
                <div style="background-color: #c8e6c9;width: 110px;">
                    <span
                        style="font-weight: bold;margin-left: 10px;text-transform: uppercase; color: #256029; font-size: 12px;letter-spacing: .3px;font-weight: 700;font-weight: 700;padding: .25em .5rem;border-radius: 2px;">
                        CLOSED</span>
                </div>
            </td>
            <td>{{request.clientName}}</td>

            <td>{{request.teamName}}</td>
            <td>{{request.description}}</td>

            <td id="Assig" *ngIf="request.isAssigned==true">
                <div>
                    <button class="btn btn-info" disabled>{{'Tracker.Assigned'|translate}}</button>
                </div>
            </td> -->
            <!-- <td id="Assig">
                <button class="btn btn-info">Assign</button>
            </td> -->
            <!-- <td>
                <button class="btn btn-warning" (click)="ViewImages(request.id)"> {{'Tracker.Documents'|translate}}</button>
            </td>
            <td>
                <button class="btn btn-warning" (click)="ViewMoreDesc(request.id)">
                    <span style="font-size: 15px;"> {{'Tracker.Descriptions'|translate}}  </span>

                </button>
            </td>
            <td id="status" *ngIf="request.requestStatusId == 2">
                <button disabled style="margin-left: 10px;" class="btn btn-warning">
                    {{'Tracker.Close'|translate}}</button>
            </td>
            <td id="statusclosed" *ngIf="request.requestStatusId !=2"> 
                <button  style="margin-left: 10px;" class="btn btn-warning" (click)="Opendialog(request.id)">
                    {{'Tracker.Close'|translate}}</button>
            </td> -->
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
            In total there are {{ItemStatuses ? ItemStatuses.length : 0 }}


        </div>
    </ng-template>
</p-table>