<app-nav-bar></app-nav-bar>
<div class="row">
    <!-- <div class=" col-md-3 ">
      <div class="card" style="width: 18rem;margin-left: 30px; margin-top: 10px;">
        <img src="../../assets/images//Inventory-Management-01.png" alt="" width="100%" height="180">
        <div class="card-body">
          <a href="#" class="card-link" style="font-size: 17px; color: rgb(151, 112, 52);">
            <span style="font-size: 30px;margin-left: 50px; font-weight: bold;">Inventory</span> </a>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" [translate]="'Pharmacy.mostakbal'">المستقبل </li>
          <li class="list-group-item" [translate]="'Pharmacy.mostakbalcompany'">شركه المستقبل</li>
          <li class="list-group-item" [translate]="'Pharmacy.mostakbalzzzz'">Al-Mostakbal Technology</li>
        </ul>
        <div class="card-body">
        </div>
      </div>

    </div> -->
    <div class="container">
        <router-outlet style="margin-left: auto;"></router-outlet>
    </div>
  </div>
  
